
<!--パンくずナビ-->
	<div class="container">
		<ol class="topic-path">
			<li><a href="#">HOME</a></li>
			<li class="current">CONTACT US</li>
		</ol>
	</div>
	<!--ブランドページ　コンテンツ-->
	<main class="main container">
		<div class="container">
			<section>
				<h2 class="brand-title">NEWS LETTER</h2>
				<div class="brand-description2">
					購読お申し込みありがとうございます。<br>
					ニュースレターは不定期の発信となります。
				</div>
			</section>
			

		</div>
		
		<!--SP用　サブコンテンツ-->
		<section class="sp-sub-content">
				<div class="flex-container">
				<div class="flex-item">
					<h2>NEWS</h2>
					<a href="#"><img src="img_top/top_caesarstone.jpg"  class="flex-item-img"
					alt="コンフォートニュース"></a>
				</div>
				<div class="flex-item">
					<h2>SHOWROOM</h2>
					<a href="#"><img src="img_top/top_showroom_ch.jpg"  class="flex-item-img"
					alt="ショールームご予約"></a>
				</div>
				<div class="flex-item">
					<h2>WORKS</h2>
					<a href="#"><img src="img_top/top_works01.jpg"  class="flex-item-img"
					alt="施工事例"></a>
				</div>
			</div>
		</section>
	</main>